<ion-header>
  <ion-toolbar>
    <ion-title>ConfigurarDieta</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-button routerLink='/inicio'>Inicio</ion-button>
  <ion-button routerLink='/seleccion-alimentos'>SeleccionDeAlimentos</ion-button>
  <script src="https://platform.fatsecret.com/js?key=5d7cd424963e4d108a67e8b193ffafae"> </script>
  <div id="my_container" class="fatsecret_container"> </div>

  <script>
    fatsecret.setContainer("mi_contenedor");
    fatsecret.setCanvas("casa");
  </script>
</ion-content>
