.contenedor{
    display: flex;
    align-items: center;
    height: 100%;
    background-color:  #28ba62;
}
.menu{
    padding: 10%; 
}

.immagen{
    border-radius:50%;
}

.con
{
    background-color: #28ba62;
}