<ion-header color="secondary">
  <ion-toolbar >
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/"></ion-back-button>
    </ion-buttons>
    <ion-title>HISTORIAL ALIMENTOS</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="contenedor">
    <div>
      <br>
      <ion-card>
        <ion-item color="secondary">
          <ion-button slot="start" (click)="Izquierda()" fill="outline" color="light">
            Previo
          </ion-button>
          <ion-label class="ion-text-center">
            {{periodoTiempo[i]}}
          </ion-label>
          <ion-button slot="end" (click)="Derecha()" fill="outline" color="light">
            Siguiente
          </ion-button>
        </ion-item>
      </ion-card>

      <ion-card class="tablaCabeza" color="secondary">

        <ion-grid>
          <ion-row class="ion-align-items-center">
            <ion-col>
              ALIMENTO
            </ion-col>
            <ion-col>
              CALORIAS
            </ion-col>
            <ion-col>
              CANTID
            </ion-col>
            <ion-col>
              FRECUENCIA
            </ion-col>
          </ion-row>
        </ion-grid>

      </ion-card>

      <ion-card class="tablaCuerpo" color="secondary">
        <ion-grid>
          <ion-row>
            <ion-col class="ion-text-center">
              Tocino
            </ion-col>
            <ion-col class="ion-text-center">
              200 K
            </ion-col>
            <ion-col class="ion-text-center">
              300 g
            </ion-col>
            <ion-col class="ion-text-center">
              3
            </ion-col>
          </ion-row>
        </ion-grid>

      </ion-card>
    </div>
  </div>


</ion-content>


