<ion-content padding>
  pesistencia de datos
  <br>
  <h1>notas</h1>
  <ion-searchbar (ionInput)="getItems($evebt)"></ion-searchbar>
  <ion-list>
    <ion-item-sliding *ngFor="let item of notas">
      <ion-item>
        <!-- <ion-avatar></ion-avatar> -->    
        <p>{{item.titulo}}<br>{{item.texto}}</p>
      </ion-item>
      <ion-item-options side="end">
        <ion-button (click)="editar(item)"color="primary">
            EDITAR
        </ion-button>
          <ion-button (click)="eliminar(item)" color="primary">
            ELIMINAR
          </ion-button>
      </ion-item-options>
    </ion-item-sliding>
  </ion-list>
    <ion-button (click)="AgregarNota()"color="primary">
      Agregar
    </ion-button>
  
</ion-content>














<!--<ion-header>

  Agrega color="success" para que se ponga de color verde el toolbar 
  <ion-toolbar color="success">

   Agrega slot="start" para que el icono de regreso se ponga a la derecha
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/"></ion-back-button>
    </ion-buttons>

    <ion-title>HISTORIAL</ion-title>

  </ion-toolbar>

</ion-header>

<ion-content>
<div class="xd">
  <div class="contenedor">

    <ion-card color="success"> 
      <br>
      <ion-card-title class="ion-text-center">HISTORIAL DE ALIMENTOS</ion-card-title>
      <ion-card-content class="ion-text-center">
        Se recopilan todos los alimentos consumidos de todas las 
        dietas creadas seleccionando un periodo de tiempo.
        <br>
        <ion-button routerLink='/historial-alimentos' color="light" fill="outline"> Ver Alimentos</ion-button>
      </ion-card-content>
    </ion-card>
      <br>
    <ion-card color="success">
      <ion-card-title class="ion-text-center">
        HISTORIAL DE DIETAS
      </ion-card-title>
      <ion-card-content class="ion-text-center">
        Se muestran todas las dietas creadas, las diferentes comidas 
        que contienen y los alimentos que las componen.
        <br>
        <ion-button routerLink='/historial-dietas' color="light" fill="outline">Ver Dietas</ion-button>
      </ion-card-content>  
    
    </ion-card>

  </div>
</div>
</ion-content>-->

